@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply mx-auto h-full w-full max-w-[1440px] bg-app-semi-dark-blue;
  }
}

@layer components {
  .heading-lg {
    @apply text-app-heading-lg font-light;
  }

  .heading-md {
    @apply text-app-heading-md font-light;
  }

  .heading-sm {
    @apply text-app-heading-md font-medium;
  }

  .heading-xs {
    @apply text-app-heading-xs font-medium;
  }

  .section-title {
    @apply md:heading-lg text-xl font-light capitalize leading-none;
  }

  .icon-nav {
    @apply fill-app-greyish-blue transition duration-150 ease-linear hover:fill-app-red md:h-5 md:w-5;
  }

  .active-link {
    @apply fill-app-pure-white transition duration-150 ease-linear hover:fill-app-red md:h-5 md:w-5;
  }

  .disabled-link {
    pointer-events: none;
  }

  /* Custom horizontal scroll for trending section */
  .h-scroll::-webkit-scrollbar {
    border-radius: 10px;
    height: 8px;
    width: 8px;
  }

  .h-scroll::-webkit-scrollbar-thumb:horizontal {
    background: #5a698f;
    /* app-greyish-blue */
    border-radius: 10px;
  }

  .card-collection-wrapper {
    @apply flex flex-col items-center gap-4 sm:gap-x-7 sm:gap-y-6 xl:gap-x-10 xl:gap-y-8 2xs:flex-row 2xs:flex-wrap 2xs:justify-between;
  }

  .card-hover-animation {
    @apply hover:animate-wiggle hover:even:animate-wiggle-opposite motion-reduce:transition-none motion-reduce:hover:transform-none;
  }

  .loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
  }

  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
  }

  .loader:before {
    animation: ball1 1s infinite;
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }

  .loader:after {
    animation: ball2 1s infinite;
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
  }

  @keyframes rotate {
    0% {
      -webkit-transform: -webkit-rotate(0deg) -webkit-scale(0.8);
      -webkit-transform: rotate(0deg) scale(0.8);
      -moz-transform: -webkit-rotate(0deg) scale(0.8);
      transform: -webkit-rotate(0deg) scale(0.8);
    }

    50% {
      -webkit-transform: -webkit-rotate(360deg) -webkit-scale(1.2);
      -webkit-transform: rotate(360deg) scale(1.2);
      -moz-transform: rotate(360deg) scale(1.2);
      transform: rotate(360deg) scale(1.2);
    }

    100% {
      -webkit-transform: -webkit-rotate(720deg) -webkit-scale(0.8);
      -webkit-transform: rotate(720deg) scale(0.8);
      -moz-transform: rotate(720deg) scale(0.8);
      transform: rotate(720deg) scale(0.8);
    }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #f8b334;
    }

    50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      -webkit-transform: -webkit-translate(15px, 15px);
      -webkit-transform: translate(15px, 15px);
      -moz-transform: translate(15px, 15px);
      transform: translate(15px, 15px);
    }

    100% {
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 10px;
    }
  }


  .searchbar {
    display: flex;
    width: 327px;
    border: 1px solid #ffffff40;
    margin-bottom: 80px;
    border-radius: 6px;
    height: 57px;
  }

  .bg-blue-app {
    background-color:#0c2236;
    max-width: 356px;
  }

  input,
  input::placeholder {
    font-size: 17px ! important
  }

  .ml-2 {
    font-size: 26px;
    color: #ffffffa3;
    margin-right: 5px;
  }

  .pcolor {
    color: #ffffffa3;
  }

  .blackdark {
    color: #bfc4d0;
  }


  .star {
    background: #090c13;
    height: 37px;
    margin-top: 15px;
    display: flex;
    width: 57px;
    border-radius: 7px;

  }

  .image-background img {
    border-radius: 30px;
  }


  .sideby {
    background: #2e3b55;
    padding: 21px;
    border-radius: 20px;
    position: relative;
    bottom: 50px;
  }


  @media (min-width: 1024px) {
    .sideby {
      margin-left: 44px;
    }

    .none_display {
      display: none !important;
    }

    .top-margin {
      margin-bottom: 89px;
    }


  }



  @media (max-width: 768px) {
    .font-large {
      font-size: 20px !important;
    }
    .title{
      font-size: 37px;
    }

    .none_display_ {
      display: none !important;
    }


    .ham {
      position: absolute;
    }

  }
  .none_display{
    z-index: 999;
    position: relative;
  }
  .optopn_ham{
    position: relative;
    z-index: 99;
  }

  .resize svg {
    color: #cb8a3d;
    width: 21px;
    margin-left: 6px;
  }

  .yellow {
    color: #cb8a3d;
  }

  .maxwidth {
    max-width: 500px;
  }

  .font-small {
    font-size: small;
    margin-bottom: 3px;
  }

  .font-large {
    font-size: x-large;
  }

  .font-medium {
    font-size: x-large;
  }
  span.p-1_menu{
    margin-right: 26px;
    cursor: pointer;
  }

  a[aria-selected="true"] {
    background: #6c6aef;
    border-radius: 7px;
    margin: 5px;
    height: 44px;
  }

  a[aria-selected="false"] {
    margin: 5px;
    height: 44px;
  }


  .top {
    margin-top: 27px;
    margin-bottom: 27px;
  }

  .title {
    font-size: 50px;
  }

  .description {
    color: #b2b6c1;
    max-width: 600px;
    margin-bottom: 32px;
  }

  .resize {
    width: 59px;
  }

  .resize .mb-2 {
    font-size: 15px;
  }

  .searchbar svg {
    margin-top: 12px;
    margin-left: 7px;
  }

  .text-white-p p {
    font-weight: 400;
    font-size: 18px;
    color: #a8aebf;
  }

  .arrow {
    display: inline-flex;
    width: 20px;
    position: relative;
    top: 6px;
  }

  .text-white-p a {
    margin: 15px;
  }

  .card-collection-wrapper {
    background: #293445;
    padding: 11px;
    border-radius: 17px;
  }

  .card-collection-wrapper .star {
    position: absolute;
    top: 0px;
    left: 9px;
  }

  .text-left {
    text-align: left;
  }

  .bg-app-dark-blue_ {
    background: #171e31;
  }

  .background-blue{
    background:#141b2c;
  }
  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #97bf0d;
    }

    50% {
      box-shadow: 0 0 0 #97bf0d;
      margin-top: -20px;
      -webkit-transform: -webkit-translate(15px, 15px);
      -webkit-transform: translate(15px, 15px);
      -moz-transform: translate(15px, 15px);
      transform: translate(15px, 15px);
    }

    100% {
      box-shadow: 30px 0 0 #97bf0d;
      margin-top: 0;
    }
  }
}